In [2]:
for item in range(20):
    print(item);

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
for item in range(10, 20):
    print(item);

10
11
12
13
14
15
16
17
18
19

In [10]:
list = [10, 20, 14, 55, 43, 87, 76];
print(list);
print("Number of item in the List2:\n", len(list));

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
 7

In [12]:
ai = 'Artificial Intelligence';
print(ai);
for item in ai:
    print(item);

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [14]:
print('-Your Name-');
print('-Your Age');
print('-Your Profession');

-Your Name-
-Your Age
-Your Profession

In [16]:
tup = (1, 'Welcome', 2, 'Hope');
print(tup);

(1, 'Welcome', 2, 'Hope')

In [18]:
tuple1 = (0,1,2,3);
tuple2 = ('Python', 'Hope');
tuple3 = (tuple1, tuple2);
print(tuple3);

((0, 1, 2, 3), ('Python', 'Hope'))

In [26]:
tuple4 = (20,10,16,19,25,1,276,188);
for item in tuple4:
    if(item % 2 != 0):
        print(item, 'is odd');

19 is odd
25 is odd
1 is odd

In [28]:
tuple4 = (20,10,16,19,25,1,276,188);
for item in tuple4:
    if(item % 2 == 0):
        print(item, 'is even');

20 is even
10 is even
16 is even
276 is even
188 is even